@keyframes wiggle {
    0% {
        transform-origin: center;
        transform: rotate(25deg);
    }
    50% {
        transform-origin: center;
        transform: rotate(-25deg);
    }
    100% {
        transform-origin: center;
        transform: rotate(25deg);
    }
}

@keyframes roll {
    0% {
        transform-origin: center;
        transform: rotate(0deg);
    }
    100% {
        transform-origin: center;
        transform: rotate(360deg);
    }
}

.diceImage{
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%) scale(25%);
    opacity: 85%;
}

.Active {
    animation: wiggle 1200ms infinite;

    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none; /* firefox */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE*/
    user-select: none; /* Standard syntax */
}

.Deactivated {
    animation: roll 100ms infinite;
    opacity: 60%;
    filter: brightness(50%) contrast(75%);

    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none; /* firefox */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE*/
    user-select: none; /* Standard syntax */
}